body{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}
/*INTRO*/
.intro{
    background: url(../img/city.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*PRE-LOAD*/
.preload{
    background: linear-gradient(rgba(233, 30, 99, 0.76),  #9C27B0);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 200;
}
.preload img{
    margin-top: 200px;
    margin-bottom: 170px;
    width: 170px;
    height: 120px;
}

/*SECTION-INTRO*/
#section-intro{
    position: relative;
}
#section-intro img{
    margin-top: 200px;
    margin-bottom: 170px;
    width: 170px;
    height: 120px;
}
#section-intro .row{
    position: relative;
}
.btn-grad {
    background: linear-gradient(to right, #9C27B0, rgba(233, 30, 99, 0.76));
}
a.waves-effect.waves-light.btn-large.transparent {
    border: 1px solid;
}

